.content{
    /* background-image: url("./img/glassesImage/background.jpg") ; */
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 180px;
}
.content::before{
    content: '';
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}
.content img{
    width: 50%;
}
.tryGlass{
    position: relative;
}
.tryGlass .tryGlass_img{
    position: absolute;
    position: absolute;
    left: 204px;
    top: 80px;
    width: 28%;
    opacity: .7;
}
.tryGlass_detail{
    position: absolute;
    left: 150px;
    bottom: 0;
    width: 270px;
    height: 110px;
    border-radius: 0 0 5px 5px;
}
.tryGlass_detail::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 0 0 5px 5px;
    opacity: .7;
}
.tryGlass_detail .tryGlass_desc{
    font-size: 14px;
    text-align: justify;
}
.content .glass_list{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    z-index: 30;
    margin-top: 20px;
    position: relative;
}

.glass_list .glass_item {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.glass_list .glass_item img{
    width: 90px;
}